.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.empty .shop-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.8rem;
  font-size: 1.4rem;
  background-color: #3f3d563f;
  border-radius: 0.4rem;
  border: 1px solid #3f3d56;
  cursor: pointer;
}

.close-navbar {
  display: none;
}

.empty-bag {
  opacity: 0.08;
  object-fit: scale-down;
  position: absolute;
  transform: rotateX('30deg');
  top: 50%;
  left: 50%;
  height: 300px;
  color: #3f3d56;
  width: auto;
  transform: translate(-50%, -50%);
}

.bag-items {
  background-color: white;
  width: 100%;
  table-layout: fixed;
  color: #3f3d56;
  overflow: scroll;
  padding: 1rem;
}

.bag-items tbody .item-row td {
  padding: 0.2rem;
  font-size: 1.2rem;
  word-wrap: break-word;
}

.bag-items tbody .item-row td .bag-img {
  padding: 0.2rem 1.8rem;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.bag-items .quantity-btn {
  display: flex;
}

.bag-items .quantity-btn .quantity {
  border: none;
  text-align: center;
  background-color: #e8f5f4;
  font-family: Nunito, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

.bag-items .quantity-btn button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #3f3d56;
  font-family: Nunito sans-serif;
  padding: 0.2rem;
}

.trash-item {
  width: 5%;
}

.trash-item button,
.view-item {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.total {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: #3f3d56 1px solid;
  padding: 1rem;
  color: #1b6e7c;
  font-size: 1.4rem;
  background: white;
}

.total .clear-bag {
  font-family: Nunito, sans-serif;
  background: transparent;
  border: none;
  color: rgb(234, 67, 53);
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 0.4rem;
  border: 1px solid rgb(234, 67, 53);
}

@media screen and (max-width: 700px) {
  .close-navbar {
    display: none;
  }
  .bag-items {
    padding: 0;
  }
  .bag-items tbody .item-row td .bag-img {
    padding: 0.2rem 2rem;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .bag-items tbody .item-row td .bag-img {
    padding: 0.2rem 1rem;
    height: 50px;
    width: 50px;
  }
  .bag-items tbody .item-row td {
    font-size: 1rem;
  }
  .bag-items .quantity-btn .quantity {
    width: min-content;
    font-size: 1rem;
  }

  .trash-item button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .close-navbar {
    display: flex;
  }
  p {
    font-size: 0.8rem;
  }
  .empty-bag {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
  }
  .header {
    font-size: 1rem;
  }
  .bag-items {
    padding: 0;
  }
  .bag-items tr {
    display: inline-block;
  }
}
