.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1rem;
}

.container .img-container img {
  width: 30vw;
  height: auto;
  object-fit: cover;
}

.container .product-info {
  padding: 0rem 5%;
  width: 100%;
}

.product-info .name {
  margin: 0.5rem 0rem;
  color: #3f3d56;
  font-size: 2.5rem;
}

.brand {
  color: #ffa4a8;
}

.sub-title {
  padding: 0.3rem 0rem;
  border: none;
  border-top: #ffecee solid 1px;
  border-bottom: #ffecee solid 1px;
  display: flex;
  justify-content: space-between;
}

.product-info .price {
  margin: 0.5rem 0rem;
  color: #1b6e7c;
  font-size: 1.8rem;
}

.product-info .desc {
  color: #1b6e7c;
}

.product-info .bag-btn,
.wish-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;
  font-family: Nunito;
  margin: 0.4rem 0rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.wish-btn {
  border: 1px solid #ffa4a8;
  background-color: #ffecee;
  color: #3f3d56;
}

.product-info .bag-btn {
  border: 1px #3f3d56 solid;
  color: #ffecee;
  background-color: #3f3d56;
}

.rating {
  background-color: transparent;
  vertical-align: middle;
  font-size: larger;
}

.rating * {
  margin: 0rem 0rem 0rem 0.3rem;
  color: #ffa4a8;
}

@media screen and (max-width: 700px) {
  .product-info .name {
    font-size: 2rem;
  }
  .product-info .price {
    font-size: 1.5rem;
  }
  .container .img-container img {
    width: 40vh;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .container .img-container img {
    width: 100%;
  }
  .container {
    display: block;
  }
  .product-info .name {
    font-size: 2rem;
  }
  .product-info .price {
    font-size: 1.5rem;
  }
}
